@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

li,
a,
button {
    color: black;
    text-decoration: none;
}

button {
    color: #eee;
    /* box-shadow: 0 1px 10px rgba(0, 0, 0, .5); */
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;

    height: 50px;
    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;

    background-color: #eee;
    box-shadow: 0 1px 15px rgba(0, 0, 0, .5);

    transition: height 0.3s ease 0s, background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
}

.logo {
    cursor: pointer;
    height: 30px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.filler {
    background-color: black;
    height: 2500px;
}

.bg-image {
    position: relative;
    text-align: center;

    background-color: black;
    z-index: -1;
}

.landing-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 3vw;
    width: 100%;
}

.bg-image img {
    width: 100%;
    /* background-image: url(img/Landscape-Color.jpg); */
}

.up-arrow {
    position: fixed;
    left: calc(50% - 40px);
    bottom: 25px;

    font-size: 40px;
    color: black;
    background-color: #eee;

    height: 80px;
    width: 80px;
    border-radius: 50%;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
}

.up-arrow:hover {
    background-color: #bbb;
}

#contact-button {
    visibility: visible;
    opacity: 1;
}

#hamburger {
    display: none;

    position: fixed;
    right: 0;
    top: 0;

    color: black;
    background-color: transparent;
    font-size: 20px;
}

#projects {
    color: white;
    background-color: black;
}

.flex-container {
    display: flex;
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

.flex-content {
    flex: 1;
    text-align: justify;
    margin: 25px 25px 0 25px;
}

.title {
    text-align: center;
}

/* MEDIA QUERIES */

@media (max-width: 800px) {
    #navbar {
        display: inline-block;
        text-align: center;
    }

    .nav__links {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.25s, opacity 0.25s linear;
    }

    .nav__links li {
        margin-top: 15px;
        display: block;
    }

    #contact-button {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.25s, opacity 0.25s linear;

        margin-top: 15px;
    }

    #hamburger {
        display: inline;
    }

    .flex-container {
        display: block;
    }
}

/* CUSTOM SCROLL BARS */

* {
    scrollbar-width: thin;
    scrollbar-color: #333 #eee;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #eee;
}

*::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 20px;
    border: 3px solid #eee;
}